body{
  background-color: lightyellow;
}
p{
  text-align: center;
  font-size:25px;
  /*border: 5px dashed blue;*/
  padding: 10px;
}

img{
  max-width: 90%;
  /*max-width: 800px;*/
}

h1{
  text-align: center;
  font-size:50px;
  text-decoration: underline;
}

h2{
  text-align: center;
  font-size:35px;
}
a{
  color: black;
}

ul{
  column-count: 5;
  column-gap: 5px;
}

li{
  font-size:10px
  padding-right:10px;
  padding-top:10px;
  padding-bottom:10px;
}

a:hover {
    background-color: orange;
    color: white;
}
