body{
  background-color: lightyellow;
}
p{
  text-align: center;
  font-size:25px;
  /*border: 5px dashed blue;*/
  padding: 10px;
}
img{
  max-width: 90%;
  /*max-width: 800px;*/
}
h1{
  text-align: center;
  font-size:50px;
  text-decoration: underline;
}

h2{
  text-align: center;
  font-size:35px;
}
a{
  color: black;
}
ul{
  text-align: center;
  list-style: none;
}

.columns{
  column-count: 6;
  /*column-gap: 5px;*/
}

li{
  font-size:15px;
  padding-top:10px;
  padding-bottom:15px;
}
a:hover {
    background-color: orange;
    color: white;
}
