body{
  background-color: lightyellow;
}

p{
  text-align: center;
  font-size:20px;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 95px;
  font-family: metropolis-light;
  font-weight: 100;
}

img{
  max-width: 90%;
}

h1{
  text-align: center;
  font-size:50px;
  /* text-decoration: underline; */
  padding-bottom: 10px;
  font-family: metropolis;
  font-weight: 500;
  font-weight: bold;
}

/* h2{
  text-align: center;
  font-size:35px;
  padding-top:100px;
  font-family: metropolis-light;
  font-weight: 100;
} */

a{
  color: black;
}

ul{
  text-align: center;
  list-style: none;
  padding:0;
}

.columns{
  column-count: 3;
  padding: 0;
  margin:0;
  /*column-gap: 5px;*/
}

li{
  font-size:15px;
  padding-top:15px;
  padding-bottom:15px;
  font-family: metropolis-light;
  font-weight: 100;
  line-height: 1.25;
}
a:hover {
    background-color: orange;
    color: white;
}


*{
  box-sizing:border-box;
}


body{
  margin:0;
}

.flex-container{
  background:lightyellow;
  width:100vw;
  height:100vh;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;


}

.item{
  background:lightyellow;
  width:300px;
  height:50px;
  margin:-50px;
  text-align: center;
  font-size: 20px;
}


button{
  background:lightyellow;
  align: center;
  height: 100px;
  border: none;
}

button:hover{
  color:rgb(135, 0, 182);
}

button:active {
  color: rgb(224, 115, 26);
}

.box-styles{
  background:rgb(255, 253, 190);
  height:100vh;
  width:400px;
  position:fixed;
  top:0;
  right:-400px;
  padding:1.2rem;
  font-size:1.2rem;
  transition:right .4s ease;
  z-index:10;
}

.active {
  right:0;
}

.other{
  background:lightyellow;
  width:300px;
  height:300px;
  margin:30px;
}

.fixed{
  background:lightyellow;
  width: 100%;
  height: 110px;
  position: fixed;
  top:0;
  left:0;
  z-index:1;
  display: flex;
  justify-content: center;
}

@media screen and (max-width:1193px) {
  .columns {
    column-count:2;
  }
}

@media screen and (max-width:791px) {
  .columns {
    column-count:1;
  }
}

.homepage{
  font-size: 20px;
  padding: 20px;
  line-height: normal;
}

.titlename{
  padding-top: 200px;
  margin-bottom: 0;
}

@font-face {
  font-family: 'metropolis';
  src: (fonts/Metropolis-Black.otf);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'metropolis-light';
  src: (fonts/Metropolis-Light.otf);
  font-style: normal;
  font-weight: 100;
}

.backbutton{
  font-family: metropolis-light;
  font-weight:100;
  font-size: 15px;
}
