*{
  box-sizing:border-box;
}


body{
  margin:0;
}

img{
  max-width: 100%;
}

.marquee {
  width: 300px; /* the plugin works for responsive layouts so width is not necessary */
  height:20px;
  overflow: scroll;
  border:1px solid #ccc;
}
